<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @squawk.content %>
</p>

<p>
  <b>User:</b>
  <%= @squawk.user_id %>
</p>


<%= link_to 'Edit', edit_squawk_path(@squawk) %> |
<%= link_to 'Back', squawks_path %>
